@import '../../styles/colors';

.list-item {
  display: flex;
  width: 100%;
  align-items: center;

  &:hover {
    background-color: $light-gray;

    .list-item__actions {
      visibility: visible;
    }
  }

  &__details {
    display: flex;
    width: 100%;

    * {
      color: $black;

      padding-left: 1rem;
      padding-right: 1rem;

      font-size: 1.8rem;
      font-weight: 400;

      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
    }
  }

  &__actions {
    visibility: hidden;

    display: flex;

    i {
      padding-right: 2px;
      cursor: pointer;

      &:hover {
        color: $light-blue;
      }
    }
  }
}
