@import '../../styles/colors';
@import '../../styles/mixins';

.product-list {
  .list__header {
    .header {
      &__name {
        width: 60%;
      }

      &__quantity {
        text-align: end;
        width: 15%;

        @include respond(phone) {
          display: none;
        }

        &.abbr {
          display: none;

          @include respond(phone) {
            display: inline;
          }
        }
      }

      &__price {
        text-align: end;
        width: 35%;
      }
    }
  }
}
