.card {
  display: flex;
  flex-direction: column;
  width: 40rem;
  align-items: center;
  height: 20rem;
  justify-content: space-around;

  &--title {
    font-size: 7rem;
    text-align: center;
  }

  &--text {
    font-size: 4rem;
    color: #d65759;
    text-align: center;
  }
}
