@import '../../styles/colors';

.product {
  .list-item__details {
    .product__name {
      width: 60%;
    }

    .product__quantity {
      width: 15%;
    }
    .product__price {
      width: 35%;
    }
  }
}
