$gray: rgba(224, 224, 224, 1);
$light-gray: rgba(0, 0, 0, 0.07);

$light-blue: #4fc3f7;
$blue: #0288d1;
$dark-blue: #1976d2;

$light-green: #aad5d0;
$green: #00796b;

$red: #e64a19;

$light-pink: #ffcccc;
$pink: #dc004e;

$black: rgba(0, 0, 0, 0.87);
